:root {
  --primary-color: #f14d54;
  --border-color: rgb(65, 65, 65);
  --serchbar-bgcolor: #f4f4f4;
  --search-button: #80bf32;
  --cancel-button: #f14d54;
}
body {
  margin: 0;
  font: 14px Roboto;
}
//heading
.headLine {
  margin-top: 10px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;

  .logo {
    height: inherit;
    img {
      width: 100%;
    }
  }
  .navlinks {
    height: inherit;

    display: flex;
    align-items: center;
    color: var(--primary-color);
    .ma {
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .nav-cart {
      // border: 1px solid var(--border-color);
      // border-radius: 3px;
      width: 100.88px;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 1em;
      }
      button {
        border: 1px solid var(--border-color);
        color: inherit;
        width: 100.88px;
        height: 2em;
        background: none;
        border-radius: 3px;
        cursor: pointer;
      }
      .nav-cart-link {
        color: black;
      }
    }
  }
}
//this is search bar component
.serchbar {
  height: 80px;
  background: var(--serchbar-bgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  

  input {
    height: 40px;
    width: 422px;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px;
    color: rgb(33, 33, 33);
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--search-button);
  }
  .cancel {
    background: var(--cancel-button);
  }
  button {
    color: white;
    font-size: 16px;
    margin-right: 10px;
    height: 40px;
    width: 129px;
    max-width: 129px;
    border: none;
    border-radius: 5px;
  }
}
//this is bradcumm
.login-bradcumm {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
  span {
    color: var(--primary-color);
  }
}
//This is a register and login component
.login-title {
  text-align: center;
  font-size: 32px;
  color: #414141;
  font-weight: bold;
  margin-bottom: 25px;
}

.login-register-element {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 0 100px 0 100px;
  margin-bottom: 80px;

  .hr {
    height: 1px;
    background: rgba(65, 65, 65, 0.212);
    margin-bottom: 20px;
  }
  .register-element {
    width: 100%;
    padding-right: 50px;
    .register-element-title {
      margin-bottom: 20px;
      font-size: 20px;
      color: #414141;
    }
    .register-element-slogan {
      font: "Roboto-Light";
      font-size: 15px;
      margin-bottom: 20px;
      color: #838383;
    }
    .register-element-list {
      font-size: 15px;
      font: Roboto;
      margin-bottom: 165px;
      color: #212121;
      text-align: left;
      ul {
        li {
          margin-bottom: 0;
        }
      }
    }
    .register-element-button {
      button {
        width: 220px;
        height: 45px;
        background: #f14d54;
        color: white;
        border: none;
        border-radius: 2px;
      }
    }
  }
  .login-element {
    width: 100%;
    .login-element-title {
      margin-bottom: 20px;
      font-size: 20px;
      color: #414141;
    }
    .login-element-slogan {
      font: "Roboto-Light";
      font-size: 15px;
      margin-bottom: 20px;
      color: #838383;
    }
    .email {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
      input {
        width: 400px;
      }
    }
    .password {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;

      span {
        margin-bottom: 15px;
      }
      input {
        width: 400px;
      }
    }
    .login-element-button {
      button {
        height: 45px;
        background: #f14d54;
        color: white;
        width: 100px;
        border: none;
        border-radius: 2px;
        margin-top: -6px;
      }
    }
  }
}

////register page csse
.register-main {
  margin-top: 50px;
  padding: 0 100px 0 100px;
  margin-bottom: 80px;

  .register-title {
    font: Roboto;
    font-size: 20px;
    text-align: left;
    color: #414141;
    margin-bottom: 20px;
  }
  .hr {
    height: 1px;
    background: rgba(65, 65, 65, 0.212);
    margin-bottom: 20px;
  }
  .register-slogan {
    font: Roboto-Light;
    font-size: 15px;
    color: #838383;
    margin-bottom: 20px;
  }
  .register-names {
    display: flex;
    font: Roboto;
    font-size: 15px;
    color: #414141;

    margin-bottom: 40px;

    .fnm {
      width: 100%;

      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
      input {
        width: 375px;

        height: 40px;
      }
    }
    .lnm {
      width: 100%;
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
      input {
        width: 375px;

        height: 40px;
      }
    }
  }
  .register-email {
    width: 70%;
    display: flex;
    flex-direction: column;
    font: Roboto;
    font-size: 15px;
    color: #414141;
    margin-bottom: 70px;
    span {
      margin-bottom: 15px;
    }
    input {
      height: 40px;
    }
  }

  .register-loginifo-title {
    font: Roboto;
    font-size: 20px;
    text-align: left;
    color: #414141;
    margin-bottom: 20px;
  }
  .register-loginifo {
    display: flex;
    font: Roboto;
    font-size: 15px;
    color: #414141;

    margin-bottom: 40px;

    .pass {
      width: 100%;

      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
      input {
        width: 375px;

        height: 40px;
      }
    }
    .confPass {
      width: 100%;
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
      input {
        width: 375px;

        height: 40px;
      }
    }
  }
  button {
    background: var(--primary-color);
    color: white;
    border: none;
    height: 45px;
    width: 136px;
    border-radius: 2px;
  }
}

//product page
.product-title {
  text-align: center;
  font: Roboto;
  font-size: 32px;
  color: #414141;
  margin-bottom: 25px;
}

.product-content {
  margin-top: 45px;
  padding: 0 100px 0 100px;
  .serch-product-component {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    input {
      margin-right: 10px;
      width: 300px;
      height: 40px;
      padding: 10px;
      color: rgb(65, 65, 65);
    }
    button {
      //display: inline;
      background: #f14d54;
      color: white;
      border: none;
      //
      height: 40px;
      width: 101px;
      border-radius: 2px;
    }
  }

  .content-holder 
  {
    .content-titlebar-holder {
      border-bottom: 1px solid #41414171;
      .content-titlebar {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin-bottom: 20px;
      }
    }
    .content-td-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid #41414171;
      color: #212121;
      font-size: 14px;
      margin-bottom: 0;
      .content-td {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        width: 60%;

      }
      .content-td-buttons {
        display: flex;
        justify-content: space-between;

        .product-edit {
          color: #80bf32;
          background: none;
          border: 1px solid #80bf32;
          width: 80px;
          height: 30px;
          margin-right: 10px;
          border-radius: 3px;
        }
        .product-delete {
          color: var(--primary-color);
          background: none;
          border: 1px solid var(--primary-color);
          width: 80px;
          height: 30px;
          border-radius: 3px;
        }
      }
    }
  }
  .content-row-managebar{
      display: flex;
      justify-content: flex-end;
      margin-bottom:80px;
      margin-top: 28px;
      a{
          text-decoration: none;
      }
      .row-data-text{
          margin-right: 10px;
      }
      .row-data-dropdown{
          margin-right: 10px;
      }
      .page-number-data{
          margin-right: 10px;
      }
  }
}




//cart here 

.cart-main-body{

  .cart-title{
    text-align: center;
    color: #414141;
    font-size:32px;
    margin-bottom: 25px;
  }

    .cart-main-body-content{
      margin-top: 50px;
      display: flex;
      
      justify-content: center;
      
      .cart-content-holder{

        width: 586px;
        .cart-content-raw-data-title{
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom:-15px;
          
            .child1{
              font: 18px Roboto;
              color: #414141;
            }
            .child2{
              font: 14px Roboto;
              color: #414141;
            }
        }
        .cart-content-holder-inner{
          display: flex;
          flex-direction: column;
          .cart-content-row{
            display: flex;
            width: 585.2px;
            height: 149.2px;
            padding: 15px;
            
            border-radius:4px;
            margin-top: 30px;
            border: 1px solid #e6e6e6;
            background-color: white;
            .cart-content-img{
              width:150px;
              min-width: 150px;
              height:117.2px;
              background-color:black;
              
              display: flex;
              align-items: center;
              justify-content: center;
              
              color:rgba(255, 255, 255, 0.349);
            }
            .cart-content-row-data{
              
              padding-left: 20px;
              width: 100%;
              .cart-content-row-data-title-price{
                display: flex;
                justify-content: space-between;
                width:inherit;
                margin-bottom: -7px;
              }
              .cart-content-row-data-offer{
                display: flex;
                justify-content: space-between;
                width:inherit;
                margin-bottom:10px;
                
                .child1{
                  color: var(--primary-color);
                }
                .child2{
                  color: var(--primary-color);
                  font-weight: 500;
                }
              }
              
              .cart-content-row-data-quantity{
                display: flex;
                justify-content: space-between;
                //margin-top:10px;
                .child{
                  display: flex;
                  
                  
                  div{
                    margin-right: 10px;
                  }
                  .box-num{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #414141;
                  }
                  
                  .box{
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                      height: 20px;
                    
                      background-color: var(--primary-color);
                    color: white;
                    border:none;
                    border-radius: 1.5px;
                    cursor: pointer;
                    
                    
                  }
                }
              }
              
            }
          }
        }

        .cart-content-button{
                display: flex;
                justify-content: flex-start;
                margin-top:35px;
                .cart-placeorder-button{
                  background-color: var(--primary-color);
                  width: 138.79px;
                  height:40px;
                  color:white;
                  border: none;
                  border-radius: 2px;
                  margin-bottom: 80px;
                }
              }

      }
      



    }


}


//product list here

.product-list-title {

  text-align: center;
  font: 32px Roboto;
  color: #414141;
  margin-bottom: 25px;
}

.product-list-body{
  margin-top: 50px;
  padding: 0 100px 0 100px;
  width: 100%;
  height: 100%;
  
  
    .product-list-content-holder{

      .product-list-content-title{
        display:flex;
        justify-content: space-between;
        margin-bottom: 45px;
        .child1{
          font: 18px Roboto;
          color: #414141;
        }
        .child2{

        }
      }

      .product-list-card-holder{
        width: 100%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: auto auto auto auto;
        margin-bottom: 40px;

        .product-list-card{
          width: 100%;
          
          .img{
              width: 227.67px;
              height:188.5px;
              background-color:#212121;
              color:rgba(255, 255, 255, 0.37);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px  5px 0 0;

          }
          .data{
              width:227.67px; 
              height:305.67px;
              border: 1px solid rgba(33, 33, 33, 0.603);
              border-radius:  0 0 5px  5px;
              padding:15px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .product-card-title{

                font:20px Roboto;
                color:#212121;
                font-weight:500;
              }
              .product-card-subtitle
              {
                font:15px Roboto;
                color:#838383;
                

              }
              .product-list-card-description{
                font: 15px Roboto;
                color:#444343;
                margin-top:10px;
              }
              .product-list-card-offer{
                color:#838383;
                font: 18px Roboto;
                margin-top:10px;
                span{
                  color:#80bf32;
                }
              }
              .product-list-card-price{
                font: 18px Roboto;
                color:#414141;
                font-weight:500;
              }
              .product-list-card-button{

                margin-top:15px;
                button{
                  width:100%;
                  height: 40px;
                  background: var(--primary-color);
                  border:none;
                  border-radius: 5px;
                  color:white;
                }
                .product-list-card-flex{
                  height:100%;
                  display: flex;
                  align-items: flex-end;
                }
              }
          }
        }
      }

      
    }
    .product-list-pagination{
        display: flex;
        justify-content:center;
        .pagination-grid{
          display: grid;
          grid-template-columns: auto auto auto auto auto auto auto auto auto;
          grid-gap:50px;
          margin-bottom:80px;

          .active{
            background:var(--primary-color);
            color:white;
            width: 25px;
            height: 25px;
            border: none;
            border-radius:25px;
            text-align: center;
          }

        }
    }
}










//footer here

.footer {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 60px;
    width: 10%;
    margin-bottom: 30px;
  }
  span {
    margin-bottom: 50px;
    font-size: 14px;
    color: #838383;
  }
}
