:root {
  --primary-color: #f14d54;
  --border-color: rgb(65, 65, 65);
  --serchbar-bgcolor: #f4f4f4;
  --search-button: #80bf32;
  --cancel-button: #f14d54;
}

body {
  margin: 0;
  font: 14px Roboto;
}

.headLine {
  margin-top: 10px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}
.headLine .logo {
  height: inherit;
}
.headLine .logo img {
  width: 100%;
}
.headLine .navlinks {
  height: inherit;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.headLine .navlinks .ma {
  margin-right: 10px;
}
.headLine .navlinks a {
  text-decoration: none;
  color: inherit;
}
.headLine .navlinks .nav-cart {
  width: 100.88px;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headLine .navlinks .nav-cart img {
  height: 1em;
}
.headLine .navlinks .nav-cart button {
  border: 1px solid var(--border-color);
  color: inherit;
  width: 100.88px;
  height: 2em;
  background: none;
  border-radius: 3px;
  cursor: pointer;
}
.headLine .navlinks .nav-cart .nav-cart-link {
  color: black;
}

.serchbar {
  height: 80px;
  background: var(--serchbar-bgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.serchbar input {
  height: 40px;
  width: 422px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 10px;
  padding: 10px;
  color: #212121;
}
.serchbar .search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--search-button);
}
.serchbar .cancel {
  background: var(--cancel-button);
}
.serchbar button {
  color: white;
  font-size: 16px;
  margin-right: 10px;
  height: 40px;
  width: 129px;
  max-width: 129px;
  border: none;
  border-radius: 5px;
}

.login-bradcumm {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}
.login-bradcumm span {
  color: var(--primary-color);
}

.login-title {
  text-align: center;
  font-size: 32px;
  color: #414141;
  font-weight: bold;
  margin-bottom: 25px;
}

.login-register-element {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 0 100px 0 100px;
  margin-bottom: 80px;
}
.login-register-element .hr {
  height: 1px;
  background: rgba(65, 65, 65, 0.212);
  margin-bottom: 20px;
}
.login-register-element .register-element {
  width: 100%;
  padding-right: 50px;
}
.login-register-element .register-element .register-element-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #414141;
}
.login-register-element .register-element .register-element-slogan {
  font: "Roboto-Light";
  font-size: 15px;
  margin-bottom: 20px;
  color: #838383;
}
.login-register-element .register-element .register-element-list {
  font-size: 15px;
  font: Roboto;
  margin-bottom: 165px;
  color: #212121;
  text-align: left;
}
.login-register-element .register-element .register-element-list ul li {
  margin-bottom: 0;
}
.login-register-element .register-element .register-element-button button {
  width: 220px;
  height: 45px;
  background: #f14d54;
  color: white;
  border: none;
  border-radius: 2px;
}
.login-register-element .login-element {
  width: 100%;
}
.login-register-element .login-element .login-element-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #414141;
}
.login-register-element .login-element .login-element-slogan {
  font: "Roboto-Light";
  font-size: 15px;
  margin-bottom: 20px;
  color: #838383;
}
.login-register-element .login-element .email {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.login-register-element .login-element .email span {
  margin-bottom: 15px;
}
.login-register-element .login-element .email input {
  width: 400px;
}
.login-register-element .login-element .password {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.login-register-element .login-element .password span {
  margin-bottom: 15px;
}
.login-register-element .login-element .password input {
  width: 400px;
}
.login-register-element .login-element .login-element-button button {
  height: 45px;
  background: #f14d54;
  color: white;
  width: 100px;
  border: none;
  border-radius: 2px;
  margin-top: -6px;
}

.register-main {
  margin-top: 50px;
  padding: 0 100px 0 100px;
  margin-bottom: 80px;
}
.register-main .register-title {
  font: Roboto;
  font-size: 20px;
  text-align: left;
  color: #414141;
  margin-bottom: 20px;
}
.register-main .hr {
  height: 1px;
  background: rgba(65, 65, 65, 0.212);
  margin-bottom: 20px;
}
.register-main .register-slogan {
  font: Roboto-Light;
  font-size: 15px;
  color: #838383;
  margin-bottom: 20px;
}
.register-main .register-names {
  display: flex;
  font: Roboto;
  font-size: 15px;
  color: #414141;
  margin-bottom: 40px;
}
.register-main .register-names .fnm {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-main .register-names .fnm span {
  margin-bottom: 15px;
}
.register-main .register-names .fnm input {
  width: 375px;
  height: 40px;
}
.register-main .register-names .lnm {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-main .register-names .lnm span {
  margin-bottom: 15px;
}
.register-main .register-names .lnm input {
  width: 375px;
  height: 40px;
}
.register-main .register-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  font: Roboto;
  font-size: 15px;
  color: #414141;
  margin-bottom: 70px;
}
.register-main .register-email span {
  margin-bottom: 15px;
}
.register-main .register-email input {
  height: 40px;
}
.register-main .register-loginifo-title {
  font: Roboto;
  font-size: 20px;
  text-align: left;
  color: #414141;
  margin-bottom: 20px;
}
.register-main .register-loginifo {
  display: flex;
  font: Roboto;
  font-size: 15px;
  color: #414141;
  margin-bottom: 40px;
}
.register-main .register-loginifo .pass {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-main .register-loginifo .pass span {
  margin-bottom: 15px;
}
.register-main .register-loginifo .pass input {
  width: 375px;
  height: 40px;
}
.register-main .register-loginifo .confPass {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-main .register-loginifo .confPass span {
  margin-bottom: 15px;
}
.register-main .register-loginifo .confPass input {
  width: 375px;
  height: 40px;
}
.register-main button {
  background: var(--primary-color);
  color: white;
  border: none;
  height: 45px;
  width: 136px;
  border-radius: 2px;
}

.product-title {
  text-align: center;
  font: Roboto;
  font-size: 32px;
  color: #414141;
  margin-bottom: 25px;
}

.product-content {
  margin-top: 45px;
  padding: 0 100px 0 100px;
}
.product-content .serch-product-component {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}
.product-content .serch-product-component input {
  margin-right: 10px;
  width: 300px;
  height: 40px;
  padding: 10px;
  color: #414141;
}
.product-content .serch-product-component button {
  background: #f14d54;
  color: white;
  border: none;
  height: 40px;
  width: 101px;
  border-radius: 2px;
}
.product-content .content-holder .content-titlebar-holder {
  border-bottom: 1px solid #41414171;
}
.product-content .content-holder .content-titlebar-holder .content-titlebar {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
}
.product-content .content-holder .content-td-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #41414171;
  color: #212121;
  font-size: 14px;
  margin-bottom: 0;
}
.product-content .content-holder .content-td-holder .content-td {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.product-content .content-holder .content-td-holder .content-td-buttons {
  display: flex;
  justify-content: space-between;
}
.product-content .content-holder .content-td-holder .content-td-buttons .product-edit {
  color: #80bf32;
  background: none;
  border: 1px solid #80bf32;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  border-radius: 3px;
}
.product-content .content-holder .content-td-holder .content-td-buttons .product-delete {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  width: 80px;
  height: 30px;
  border-radius: 3px;
}
.product-content .content-row-managebar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
  margin-top: 28px;
}
.product-content .content-row-managebar a {
  text-decoration: none;
}
.product-content .content-row-managebar .row-data-text {
  margin-right: 10px;
}
.product-content .content-row-managebar .row-data-dropdown {
  margin-right: 10px;
}
.product-content .content-row-managebar .page-number-data {
  margin-right: 10px;
}

.cart-main-body .cart-title {
  text-align: center;
  color: #414141;
  font-size: 32px;
  margin-bottom: 25px;
}
.cart-main-body .cart-main-body-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.cart-main-body .cart-main-body-content .cart-content-holder {
  width: 586px;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-raw-data-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -15px;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-raw-data-title .child1 {
  font: 18px Roboto;
  color: #414141;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-raw-data-title .child2 {
  font: 14px Roboto;
  color: #414141;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner {
  display: flex;
  flex-direction: column;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row {
  display: flex;
  width: 585.2px;
  height: 149.2px;
  padding: 15px;
  border-radius: 4px;
  margin-top: 30px;
  border: 1px solid #e6e6e6;
  background-color: white;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-img {
  width: 150px;
  min-width: 150px;
  height: 117.2px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.349);
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data {
  padding-left: 20px;
  width: 100%;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-title-price {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-bottom: -7px;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-offer {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 10px;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-offer .child1 {
  color: var(--primary-color);
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-offer .child2 {
  color: var(--primary-color);
  font-weight: 500;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-quantity {
  display: flex;
  justify-content: space-between;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-quantity .child {
  display: flex;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-quantity .child div {
  margin-right: 10px;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-quantity .child .box-num {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #414141;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-holder-inner .cart-content-row .cart-content-row-data .cart-content-row-data-quantity .child .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 1.5px;
  cursor: pointer;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;
}
.cart-main-body .cart-main-body-content .cart-content-holder .cart-content-button .cart-placeorder-button {
  background-color: var(--primary-color);
  width: 138.79px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 2px;
  margin-bottom: 80px;
}

.footer {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  margin-top: 60px;
  width: 10%;
  margin-bottom: 30px;
}
.footer span {
  margin-bottom: 50px;
  font-size: 14px;
  color: #838383;
}/*# sourceMappingURL=style.css.map */